version: "3.7"
services:

  ## --------------------------- ORION --------------------------- ##

  typegroup_web:
    image: ghcr.io/3lsaya/pagina-type-1:latest

    # Eliminamos el volumen de configuraci칩n para usar la config por defecto de Nginx inside la imagen.
    # Esto evita problemas si no tienes archivos de configuraci칩n personalizados listos.
    # volumes:
    #   - typegroup_nginx_config:/etc/nginx/conf.d:ro 

    networks:
      - sayanet

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
      labels:
        - traefik.enable=true
        ## Dominio principal
        - traefik.http.routers.typegroup.rule=Host(`typegroup.com.co`) || Host(`www.typegroup.com.co`)
        - traefik.http.routers.typegroup.entrypoints=websecure
        - traefik.http.routers.typegroup.priority=1
        - traefik.http.routers.typegroup.tls.certresolver=letsencryptresolver
        - traefik.http.routers.typegroup.service=typegroup
        # Middleware a침adido
        - traefik.http.routers.typegroup.middlewares=typegroup-redirect
        - traefik.http.services.typegroup.loadbalancer.server.port=80
        - traefik.http.services.typegroup.loadbalancer.passHostHeader=true
        ## Redirect www to non-www
        - traefik.http.middlewares.typegroup-redirect.redirectregex.regex=^https://www\.(.*)
        - traefik.http.middlewares.typegroup-redirect.redirectregex.replacement=https://$${1}
        - traefik.http.middlewares.typegroup-redirect.redirectregex.permanent=true

## --------------------------- ORION --------------------------- ##

# Eliminamos la secci칩n de volumes porque ya no la usamos
# volumes:
#   typegroup_nginx_config:
#     external: true
#     name: typegroup_nginx_config

networks:
  sayanet:
    external: true
    name: sayanet
