version: "3.7"
services:

  ## --------------------------- ORION --------------------------- ##

  typegroup_web:
    # Usamos la imagen construida automáticamente por GitHub Actions
    image: ghcr.io/3lsaya/pagina-type-1:latest

    # Eliminamos 'build' porque Docker Swarm no soporta building en tiempo de despliegue
    # build: ... 

    volumes:
      - typegroup_nginx_config:/etc/nginx/conf.d:ro ## Configuración de Nginx externa

    networks:
      - sayanet

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
      labels:
        - traefik.enable=true
        ## Dominio principal
        - traefik.http.routers.typegroup.rule=Host(`typegroup.com.co`) || Host(`www.typegroup.com.co`)
        - traefik.http.routers.typegroup.entrypoints=websecure
        - traefik.http.routers.typegroup.priority=1
        - traefik.http.routers.typegroup.tls.certresolver=letsencryptresolver
        - traefik.http.routers.typegroup.service=typegroup
        - traefik.http.services.typegroup.loadbalancer.server.port=80
        - traefik.http.services.typegroup.loadbalancer.passHostHeader=true
        ## Redirect www to non-www
        - traefik.http.middlewares.typegroup-redirect.redirectregex.regex=^https://www\.(.*)
        - traefik.http.middlewares.typegroup-redirect.redirectregex.replacement=https://$${1}
        - traefik.http.middlewares.typegroup-redirect.redirectregex.permanent=true

## --------------------------- ORION --------------------------- ##

volumes:
  typegroup_nginx_config:
    external: true
    name: typegroup_nginx_config

networks:
  sayanet:
    external: true
    name: sayanet
